model_config_list { 
  config {
    name: 'kuzu_segment'
    base_path: '/home/phan.huy.hoang/phh_workspace/kuzushiji_recognition/model_server/kuzu_segment'
    model_platform: "tensorflow",
    model_version_policy: {
       latest: {
        num_versions: 3
       }
    }
  }
  config {
    name: 'kuzu_classify'
    base_path: '/home/phan.huy.hoang/phh_workspace/kuzushiji_recognition/model_server/kuzu_classify'
    model_platform: "tensorflow",
    model_version_policy: {
       latest: {
        num_versions: 3
       }
    }
  }
}